/* Reset Code */

*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    font-family: 'Press Start 2P', cursive; 
}

body {
	font-size: 16px;
	line-height: 1;
	background-color: white;
	background-image: url('/assets/stars.gif');
	background-size: 100% 100%;
  }
    
  .jumbotron {
	text-align: center;
	background-image: url('/assets/sheep.gif'), url('/assets/cat.gif'), url('/assets/dog.gif');
	background-position: left, center, right;
	background-repeat: no-repeat, no-repeat, no-repeat;
	background-color: black;
	background-size: 32.8% 110%;
	border-radius: 0;
	border-bottom: 10px solid black;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
  }

  .display-3 {
	  color: skyblue;
	  text-shadow: black 4px 4px;
  }

  .lead {
	  font-size: 2.5vh;
	  color: palegreen;
	  text-shadow: black 4px 4px;
	  margin-top: 20px;
	  line-height: 3.5vh;
  }

  #clock {
	  font-size: 3vh;
	  margin-top: 30px;
	  color: pink;
	  text-shadow: black 4px 4px;
	  line-height: 3.5vh;
  }
  
  .container {
    max-width: 90%;
    background-color: transparent;
	padding: 10px;
  }

  .grid {
	display: grid;
    grid-template-columns: 15% 70% 15%;
	white-space: pre-wrap;
	height: 80px;
  }

  .time-block{
	text-align: center;
	position: relative;
	height: 100%;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
	background-color: pink;
	border-right: 1px solid black;
	border: 1px solid grey;
  }

  .time-block p{
	color: black;
	margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
	transform: translate(-50%, -50%)
  }
  
  textarea {
	position: relative;
	background: transparent;
	border: none;
	resize: none;
	padding: 10px;
	line-height: 5vh;
	text-align: center;
	border: 1px solid grey;
  }

  .description{
	white-space: pre-wrap;
  }

  textarea:focus{
	background-color: orange;
  }

  .past {
	background-color: #d3d3d3;
	color: white;
	text-shadow: black 1px 1px;
  }
  
  .present {
	background-color: #ff6961;
	color: white;
	text-shadow: black 1px 1px;
  }
  
  .future {
	background-color: #77dd77;
	color: white;
	text-shadow: black 1px 1px;
  }

  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	color: white;
	text-shadow: black 1px 1px;
	opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
	color: white;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
	color: white;
  }
  
  .saveBtn {
	position: relative;
	border-left: 1px solid black;
	grid-template-rows: 20%;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	background-color: skyblue;
	color: white;
	border: 1px solid grey;
  }

  .saveBtn:hover {
	background-color: purple;
	transition: all 1s ease-in-out;
  }

  footer {
    position: fixed;
    bottom: 0; 
    background-color: #446779;
	width: 100%;
	height: 7vh;
	border: 5px solid black;
	border-bottom: none;
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
}

footer p {
	color:pink;
	text-align: end;
	padding-right: 20px;
	padding: 20px;
	text-shadow: blue 2px 2px;
	font-size: 1.5vh;
	line-height: 2vh;;
	margin: 0;
	top: 30%;
	left: 75%;
}

.bottomspacer {
    background-color: transparent;
    width: 100%;
    margin-top: 10vh;   
}

.blinking{
    animation:blinkingText 1.2s infinite;
}

@keyframes blinkingText {
    0%{     color: #000;    }
    49%{    color: #000; }
    60%{    color: transparent; }
    99%{    color:transparent;  }
    100%{   color: #000;    }
}

.short-text {
	display: none;
}

button > *{
	pointer-events: none;
}
  
@media screen and (max-width: 768px) {
	
	.display-3 {
		font-size: 6vw;
	}

	#clock {
		font-size: 3vw;
	}

	.container {
		font-size: 2vh;
	}
 
	.full-text{
		display: none;
	}

	.short-text{
		display: block;
		font-size: 1.5vh;
		color: black;
		margin: 0;
    	position: absolute;
    	top: 45%;
    	left: 50%;
    	margin-right: -50%;
		transform: translate(-50%, -50%)
	}

	.description {
		line-height: 6vh;
		font-size: 1.5vh;
	}

	::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
		
		line-height: 6vh;
		font-size: 1.5vh;
		
	  }
	  
	  :-ms-input-placeholder { /* Internet Explorer 10-11 */
		line-height: 6vh;
		font-size: 1.5vh;
	  }
	  
	  ::-ms-input-placeholder { /* Microsoft Edge */
		line-height: 6vh;
		font-size: 1.5vh;
	  }

	.saveImage {
		width: 35%;
		height: 30%;
		position: absolute;
    	top: 45%;
    	left: 50%;
    	margin-right: -50%;
		transform: translate(-50%, -50%)
	}

	.bottomspacer {
		background-color: transparent;
		margin-top: 5vh;   
	}

	footer{
		position: relative;
	}
}

  
  