/* Reset Code */

*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    font-family: 'Press Start 2P', cursive; 
}

body {
	font-size: 16px;
	line-height: 1;
  }
    
  .jumbotron {
	text-align: center;
	background-image: url('https://media.giphy.com/media/puqMsg6YDodS8/giphy.gif'), url('https://media.giphy.com/media/WKVSpmzV2SjHW/giphy.gif'), url('https://media.giphy.com/media/xBd1nhXIWqk54ttwN3/giphy.gif');
	background-position: left, center, right;
	background-repeat: no-repeat, no-repeat, no-repeat;
	background-color: black;
	background-size: 32.8% 110%;
	color: skyblue;
	text-shadow: black 4px 4px;
	border-radius: 0;
	border-bottom: 20px solid black;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
  }

  .lead {
	  font-size: 2.5vh;
	  color: palegreen;
	  margin-top: 20px;
  }

  #clock {
	  font-size: 3vh;
	  margin-top: 30px;
	  color: pink;
  }
  
  .container {
    max-width: 90%;
    background-color: white;
	padding: 10px;
  }

  .grid {
	display: grid;
    grid-template-columns: 15% 70% 15%;
	white-space: pre-wrap;
	height: 80px;
	border-top: 1px solid white;;
  }

  .time-block{
	text-align: center;
	position: relative;

	height: 100%;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
	background-color: pink;
	border-right: 1px solid black
  }

  .time-block p{
	margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) 
  }
  
  textarea {
	background: transparent;
	border: none;
	resize: none;
	padding: 10px;
	line-height: 5vh;
	text-align: center;
	border-radius: 5px;
  }

  .description{
	white-space: pre-wrap;
  }
  
  .saveBtn {
	border-left: 1px solid black;
	grid-template-rows: 20%;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	background-color: skyblue;
	color: white;
  }

  .saveBtn:hover {
	  background-color: greenyellow;
	transition: all 1s ease-in-out;
  }

  footer {
    position: fixed;
    bottom: 0; 
    background-color: #446779;
	width: 100%;
	height: 7vh;
	border: 5px solid black;
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
}

footer p {
	color:pink;
	text-align: end;
	padding-right: 20px;
	padding: 20px;
	text-shadow: blue 2px 2px;
	font-size: 1.5vh;
	line-height: 2vh;;
	margin: 0;
	top: 30%;
	left: 75%;
}

.bottomspacer {
    color: black;
    width: 100%;
    margin-top: 10vh;   
}

.blinking{
    animation:blinkingText 1.2s infinite;
}

@keyframes blinkingText {
    0%{     color: #000;    }
    49%{    color: #000; }
    60%{    color: transparent; }
    99%{    color:transparent;  }
    100%{   color: #000;    }
}
  
  .past {
	background-color: #d3d3d3;
	color: white;
  }
  
  .present {
	background-color: #ff6961;
	color: white;
  }
  
  .future {
	background-color: #77dd77;
	color: white;
  }
  
  
  
  